In [1]:
import pandas as pd

In [2]:
cases = pd.read_csv('../../data/covid19za_provincial_cumulative_timeline_confirmed.csv')
cases.shape

(508, 14)

In [3]:
cases.head(10)

,date,YYYYMMDD,EC,FS,GP,KZN,LP,MP,NC,NW,WC,UNKNOWN,total,source
0,05-03-2020,20200305,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1,NaN
1,07-03-2020,20200307,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,2,NaN
2,08-03-2020,20200308,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,3,NaN
3,09-03-2020,20200309,0.0,0.0,1.0,6.0,0.0,0.0,0.0,0.0,0.0,0.0,7,NaN
4,11-03-2020,20200311,0.0,0.0,5.0,7.0,0.0,0.0,0.0,0.0,1.0,0.0,13,NaN
5,12-03-2020,20200312,0.0,0.0,6.0,8.0,0.0,1.0,0.0,0.0,1.0,0.0,16,NaN
6,13-03-2020,20200313,0.0,0.0,10.0,10.0,0.0,1.0,0.0,0.0,3.0,0.0,24,NaN
7,14-03-2020,20200314,0.0,0.0,17.0,11.0,0.0,1.0,0.0,0.0,9.0,0.0,38,NaN
8,15-03-2020,20200315,0.0,0.0,24.0,12.0,0.0,1.0,0.0,0.0,14.0,0.0,51,NaN
9,16-03-2020,20200316,0.0,0.0,31.0,12.0,1.0,2.0,0.0,0.0,16.0,0.0,62,NaN

In [6]:
ec = cases[['date', 'YYYYMMDD', 'EC']]
gp = cases[['date', 'YYYYMMDD', 'GP']]
fs = cases[['date', 'YYYYMMDD', 'FS']]
kzn = cases[['date', 'YYYYMMDD', 'KZN']]
lp = cases[['date', 'YYYYMMDD', 'LP']]
mp = cases[['date', 'YYYYMMDD', 'MP']]
nc = cases[['date', 'YYYYMMDD', 'NC']]
nw = cases[['date', 'YYYYMMDD', 'NW']]
wc = cases[['date', 'YYYYMMDD', "WC"]]

In [8]:
p = ['EC', 'GP', 'FS', 'KZN', 'LP', 'MP', 'LP', 'NC', 'NW', 'WC']

In [10]:
dataframes = []

for province in p:
    df = cases[['date', 'YYYYMMDD', province.upper()]]
    df = df.rename(columns={province.upper(): 'Cases'})
    df = df.loc[df['Cases'] != 0]
    df['Province'] = province.upper()
    dataframes.append(df)

all_data = pd.concat(dataframes)

           date  YYYYMMDD     Cases Province
14   21-03-2020  20200321       1.0       EC
15   22-03-2020  20200322       2.0       EC
16   23-03-2020  20200323       2.0       EC
17   24-03-2020  20200324       2.0       EC
18   25-03-2020  20200325       2.0       EC
..          ...       ...       ...      ...
503  23-07-2021  20210723  377187.0       WC
504  24-07-2021  20210724  379780.0       WC
505  25-07-2021  20210725  382224.0       WC
506  26-07-2021  20210726  383425.0       WC
507  27-07-2021  20210727  385005.0       WC

[4993 rows x 4 columns]

In [12]:
all_data.sample(n=50)

           date  YYYYMMDD     Cases Province
224  17-10-2020  20201017  121174.0      KZN
296  28-12-2020  20201228   35162.0       MP
441  22-05-2021  20210522  338754.0      KZN
258  20-11-2020  20201120   18347.0       LP
427  08-05-2021  20210508  196247.0       EC
412  23-04-2021  20210423   63739.0       LP
470  20-06-2021  20210620   88537.0       MP
120  05-07-2020  20200705   35648.0       EC
270  02-12-2020  20201202   23253.0       NC
218  11-10-2020  20201011   28168.0       MP
133  18-07-2020  20200718   60976.0       EC
448  29-05-2021  20210529  293376.0       WC
365  07-03-2021  20210307   62335.0       LP
97   12-06-2020  20200612     288.0       LP
302  03-01-2021  20210103  298068.0       GP
55   01-05-2020  20200501    2507.0       WC
73   19-05-2020  20200519    1616.0      KZN
38   14-04-2020  20200414      98.0       FS
403  14-04-2021  20210414   63491.0       LP
145  30-07-2020  20200730   73919.0      KZN
479  29-06-2021  20210629   94265.0       NW
499  19-07-2021  20210719  123412.0       FS
15   22-03-2020  20200322       2.0       LP
229  22-10-2020  20201022  121802.0      KZN
387  29-03-2021  20210329   63124.0       LP
21   28-03-2020  20200328       6.0       NW
289  21-12-2020  20201221   24250.0       NC
191  14-09-2020  20200914   25825.0       MP
51   27-04-2020  20200427     111.0       FS
317  18-01-2021  20210118  258124.0       WC
24   31-03-2020  20200331     633.0       GP
165  19-08-2020  20200819  103210.0       WC
196  19-09-2020  20200919  217116.0       GP
241  03-11-2020  20201103   17681.0       LP
309  10-01-2021  20210110   66760.0       FS
247  09-11-2020  20201109   22426.0       NC
463  13-06-2021  20210613   85774.0       MP
241  03-11-2020  20201103  123387.0      KZN
485  05-07-2021  20210705  116994.0       FS
258  20-11-2020  20201120  125721.0      KZN
183  06-09-2020  20200906   13734.0       LP
124  09-07-2020  20200709    1039.0       NC
186  09-09-2020  20200909  107624.0       WC
92   07-06-2020  20200607    5946.0       GP
220  13-10-2020  20201013   16384.0       LP
476  26-06-2021  20210626   58344.0       NC
378  20-03-2021  20210320  411133.0       GP
463  13-06-2021  20210613   54650.0       NC
19   26-03-2020  20200326     134.0      KZN
296  28-12-2020  20201228   22896.0       LP

In [13]:
all_data.to_csv('../../data/cleaned/provincial_cases.csv')